body{
    background: url("dex.jpg") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-weight: 100;
}

#header{
    background-color: rgba(19, 57, 107, 0.85);
    padding-top: 1px;
    margin-top: -18px;
    margin-left: -12px; 
    margin-right: -10px;
    box-shadow: 1px 1px 1px 1px rgb(80, 80, 80)
   
}
#headertext{
    color: rgb(209, 209, 209);
    text-indent: 12px;
    font-size: 30px;
    text-shadow: 2px 2px black;
    text-align: left;
}
#signInButton, #askButton, #submitButton, #submitButton2{
    float: right;
    font-family: cursive;
    font-weight: bold;
    color: white;
    border-width: 1px;
    height: 30px;
    border-radius: 2px;
    margin-right: 15px;
    background-color: rgba(84, 84, 199, 0.966);
}
#signInButton{
    font-weight: bold;
    color: white;
    border-width: 1px;
    height: 30px;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 8px;
}

#askButton{
    margin-right: 488px;
    padding: 2px;
}

#submitButton2{
    margin-right: 370px;
    margin-top: -40px
}
#submitButton {
    margin-top: 30px;
}


h1, h6, h4{
    color: rgb(189, 201, 208);
    margin-left: 10px
}
p{
    color: rgb(193, 193, 193)
}

.counter {
    text-align: left;
    color: rgb(223, 210, 210)
}

.h6{
    font-size: 17px;

} 

 
#signUpForm {
    margin-top: 50px;

    text-align: center;
   
}

#name, #email, #password{
    padding: 10px;
    font-family: cursive;
}

.address{
    padding: 7px 10px 12px 10px;
    background-color: rgb(228, 228, 228);
    margin-right: -5px;
    
}
.name{
    margin-right:-5px;
    padding: 7px 10px 12px 10px;
    background-color: rgb(228, 228, 228);

}

.password{
    margin-right: -2px;
    padding: 7px 10px 12px 10px;
    background-color: rgb(228, 228, 228);
    padding-right: 35px;
}

#userName, #userEmail, #userPassword{
    height: 40px;
    border-width: 0px;
    text-indent:12px
}

#button, #button2{
    width: 100px;
    margin-left: 10px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    border-width: 1px;
    height: 30px;
    border-radius: 2px;
    background-color: transparent;
}
#button2{
    margin-left: -50px
}
 #button:hover, #button2:hover, #askButton:hover, #submitButton:hover, #submitButton2:hover{
     background-color: rgba(65, 21, 65, 0.727);
     box-shadow: 1px 1px 1px 1px rgb(140, 140, 140);
     width: 105px;
 }

 #button:focus, #button2:focus, #askButton, #submitButton:focus, #submitButton2:focus{
     outline: none;
 }

 #submitButton{
     margin-right: 400px;
 }

 #button2{
     margin-right: -72px
 }

 #howToAsk{
     text-align: left;
     color: rgb(235, 235, 235);
     padding-left: 10px;
 }

 textarea{
     height: 100px;
     width: 800px;
     margin-top: 20px;
 }

 #quesText, #ansText {
     color: rgb(196, 196, 196);
     text-align: left;
 }

 #text {
     margin-left: -510px;
     height: 150px;
 }

 #quesRecords{
    display: inline-flex;
    margin-top: -100px;
    text-decoration: none;
}

.records{
    color: grey;
   
}

.likeButton, .voteButton {
    background-color :transparent;
    border-width: 2px;
    box-shadow: none;
    height: 20px;
    width: 50px;
    color: rgb(57, 135, 220);
    font-family: cursive;
    padding-bottom: 22px;
    border-radius: 9px;
    border-color: rgb(57, 135, 220);
    margin-left: -1170px
}
.voteButton{
    margin-left: 40px;
    width: 80px
}


.likeButton:hover, .voteButton:hover{
    background-color: rgb(105, 197, 240);

}
.likeButton:focus, .voteButton:focus{
    outline: none;
}

#info{
    font-size: 17px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


